<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="SchoolDBEntities" connectionString="metadata=res://*/Models.SchoolDBModel.csdl|res://*/Models.SchoolDBModel.ssdl|res://*/Models.SchoolDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G54HA5T;initial catalog=SchoolDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>


